* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

.app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f4f6f9;
}
@keyframes spin {
    to { transform: rotate(360deg); }
}
